header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: $main-color;
    padding: 20px 4% 40px 4%;

    .line {
        background-color: $headline;
        height: 4px;
        width: 140px;
        margin: 10px auto 20px auto;
    }

    h1, h2 {
        color: $headline;
        margin: 0;
    }
}