#modal {
    background-color: #e8e4e6;
    padding: 40px 20px;
    border-radius: 4px;
    width: 80vw;
    border: none;

    &::backdrop {
        background-color: rgba(92, 110, 99, 0.801);
    }

    @media screen and (min-width: 768px) {
        padding: 60px 40px;
        width: 60vw;
        max-width: 800px;
    }

    h2 {color: #001e1d;}

    p {color: #0f3433;}

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;

        .tag {
            display: block;
            width: auto;
            border-radius: 4px;
            padding: 7px 16px;
            background-color: $main-color;
            color: $headline;
            margin-top: 0;
        }
    }

    .lightbox__close {
        cursor: pointer;
        position: absolute;
        top: 3%;
        right: 3%;

        @media screen and (min-width: 768px) {
            top: 8%;
            right: 3%;
        }
    }
}