/*******************/
/*** MAIN COLOR ****/
/*******************/

$main-color: #004643;

$headline: #fffffe;
$paragraph: #abd1c6;

$button: #f9bc60;
$button-txt: #001e1d;

$main-link: #f9bc60;
$other-link: #004643;
$link-hover: #001e1d;

$clear-bckg: #abd1c6;
$headline-clear-bckg: #001e1d;